<div>
    <div>
      <label>Nome</label>
      <input [(ngModel)]="funcionario.nome" />
    </div>
    <div>
      <label>Departamento</label>
      <input [(ngModel)]="funcionario.departamento" />
    </div>
    <div>
      <label>Endereço</label>
      <input [(ngModel)]="funcionario.endereco" />
    </div>
    <div>
      <label>Email</label>
      <input [(ngModel)]="funcionario.email" />
    </div>
    <button routerLink = '' (click)="updateFuncionario()">Salvar</button>
    <div *ngIf="message" ngClass="messageClass">{{ message }}</div>
  </div>
  