<div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Departamento</th>
          <th>Endereço</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.departamento }}</td>
          <td>{{ funcionario.endereco }}</td>
          <td>{{ funcionario.email }}</td>
          <td>
            <button routerLink = "edit/{{funcionario.id}}" (click)="editFuncionario(funcionario)">Editar</button>
            <button (click)="deleteFuncionario(funcionario.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div ngClass="messageClass">{{ message }}</div>
  </div>
  