<div class="table-container">
  <ngb-alert *ngIf="message === 'success'" type="success" [dismissible]="true">
      Usuário Excluído com sucesso!
  </ngb-alert>
  <ngb-alert *ngIf="message === 'error'" type="danger" [dismissible]="true">
      Ocorreu um erro ao excluir o usuário!
  </ngb-alert>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Departamento</th>
        <th>Endereço</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <td>{{ funcionario.id }}</td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.departamento }}</td>
        <td>{{ funcionario.endereco }}</td>
        <td>{{ funcionario.email }}</td>
        <td>
          <button class="button primary" routerLink = "edit/{{funcionario.id}}">Editar</button>
          <button class="button danger" (click)="deleteFuncionario(funcionario.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
