<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Departamento</th>
        <th>Endereço</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "employee.id" }}</td>
        <td>{{ "employee.nome" }}</td>
        <td>{{ "employee.departamento" }}</td>
        <td>{{ "employee.endereco" }}</td>
        <td>{{ "employee.email" }}</td>
        <td>
          <button></button>
          <button></button>
        </td>
      </tr>
    </tbody>
  </table>
  